.nav_div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
}
h1{
    text-align: center;
}

form{
    width: 100%;
}

#city{
    padding-left: 0.1%;
    text-align:center;
    opacity: 0.7;
    margin-left: 0;
    width: 100%;
}