h1 {
  font-size: 36px;
}

img {
  margin-left: 0.5rem;
  width: 100px;
}

.temp_result {
  font-size: 30px;
  margin: 2rem 0 0 1rem;
}

.sub {
    font-size: 10px;
  }  

#city {
  font-size: 20px;
}

